<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LizaRB</title>
    <link rel="stylesheet" href="/<%= "#{@request}/#{@action}" %>.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <%#= render "head" %>
    <%= hotjar_tag if App.mode == :demo %>
</head>
<body>

<%= render %>

</body>
</html>
