<section id="docs">
    <div class="container">
            <div>
                <h2>Documentacao</h2>
                <p><a href="/">Ruby 3.2 - Caderno 0 - Iniciante</a></p>
                <p><a href="/">Ruby 3.2 - Caderno 1 - Sintaxe</a></p>
                <p><a href="/">Ruby 3.2 - Caderno 2 - Tipos</a></p>
                <p><a href="/">Ruby 3.2 - Caderno 3 - Operadores</a></p>
                <p><a href="/">Ruby 3.2 - Caderno 4 - Fluxo</a></p>
                <p><a href="/">Ruby 3.2 - Caderno 5 - Metodos</a></p>
                <p><a href="/">Ruby 3.2 - Caderno 6 - Classes</a></p>
                <p><a href="/">Ruby 3.2 - Caderno 7 - Meta Programacao</a></p>

                <p><a href="/">Ruby 3.2 - Liza 1.0 - Caderno 0 - LizaRB</a></p>
                <p><a href="/">Ruby 3.2 - Liza 1.0 - Caderno 1 - App</a></p>
                <p><a href="/">Ruby 3.2 - Liza 1.0 - Caderno 2 - Units</a></p>
                <p><a href="/">Ruby 3.2 - Liza 1.0 - Caderno 3 - Tests</a></p>
                <p><a href="/">Ruby 3.2 - Liza 1.0 - Caderno 4 - Settings</a></p>
                <p><a href="/">Ruby 3.2 - Liza 1.0 - Caderno 5 - Systems</a></p>
                
            </div>
    </div>
</section>
