
<center>
  <p>
  <img width="500px" src="/meeting.png" alt="">
</p>

<p><a 
  style="font-size: larger; color: blue"
  href="https://www.google.com/calendar/render?action=TEMPLATE&text=Tira+Duvidas+Ruby+on+Rails&dates=20230613T230000Z/20230614T000000Z&details=For+details%2C+join+the+meeting+at+https%3A%2F%2Fmeet.google.com%2Feef-pwqo-trn&location=Google+Meet&sf=true&output=xml"
   target="_blank" rel="nofollow">Add to Google Calendar</a>
  </p>

  </center>